* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

html, body {
  height: 100%; }

html {
  line-height: 1;
  font-size: 100px; }

body {
  font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
  line-height: 1.6;
  font-size: 0.16rem;
  color: #333;
  background: #fff; }

a {
  color: #1563A3; }

input, textarea, button {
  font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif; }

::selection {
  background: #1563A3;
  color: #fff; }

::-moz-selection {
  background: #1563A3;
  color: #fff; }

@media only screen and (max-width: 767px) {
  .bg_wrap {
    padding: 0.4rem 0.2rem; }

  h2 {
    margin-bottom: 0.2rem;
    text-align: center;
    font-size: 0.24rem;
    font-weight: bold; } }
@media only screen and (min-width: 768px) {
  .bg_wrap {
    width: 11.8rem;
    margin: 0 auto;
    padding: 0.6rem 0; }

  h2 {
    margin-bottom: 0.4rem;
    text-align: center;
    font-size: 0.34rem;
    font-weight: bold; } }
.header {
  background: #1563A3; }
  .header .bg_wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0; }
    .header .bg_wrap h1 {
      height: 100%;
      position: relative;
      left: 0;
      top: 30%; }
    .header .bg_wrap img {
      display: block;
      height: 120%; }
    .header .bg_wrap p a {
      margin-left: 0.2rem;
      color: #fff; }

@media only screen and (max-width: 767px) {
  .header {
    height: 0.4rem; }
    .header p a {
      font-size: 0.12rem; } }
@media only screen and (min-width: 768px) {
  .header {
    height: 0.6rem; }
    .header p a {
      font-size: 0.2rem; } }
.hero {
  background-color: #1563A3;
  background-repeat: no-repeat; }
  .hero .bg_mask {
    background: rgba(35, 35, 35, 0.5); }
    .hero .bg_mask .bg_wrap .instruction {
      color: #fff; }

@media only screen and (max-width: 767px) {
  .hero {
    background-position: center top;
    background-size: 300%; }
    .hero .bg_wrap .instruction {
      padding-bottom: 0.2rem; }
      .hero .bg_wrap .instruction h1 {
        margin: 0.3rem 0;
        text-align: center;
        font-size: 0.24rem; }
        .hero .bg_wrap .instruction h1 small {
          font-size: 0.2rem; } }
@media only screen and (min-width: 768px) {
  .hero {
    background-position: center center;
    background-size: cover; }
    .hero .bg_wrap {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-items: center;
      align-items: center; }
      .hero .bg_wrap .instruction {
        -webkit-flex: 0 1 70%;
        flex: 0 1 70%; }
        .hero .bg_wrap .instruction h1 {
          margin: 1rem 0;
          text-align: center;
          font-size: 0.6rem; } }
.section1 {
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #333; }
  .section1 .bg_mask .left {
    background: #fff;
    border-radius: 0.04rem; }
    .section1 .bg_mask .left .content {
      padding: 0.2rem; }
      .section1 .bg_mask .left .content img {
        width: 100%; }
      .section1 .bg_mask .left .content h3 {
        line-height: 1.2;
        margin-top: 0.2rem;
        padding-left: 0.2rem;
        border-left: 0.03rem solid #1563A3;
        font-weight: bold;
        font-size: 0.2rem; }
      .section1 .bg_mask .left .content p {
        margin: 0.2rem 0; }
        .section1 .bg_mask .left .content p b {
          font-weight: bold; }
      .section1 .bg_mask .left .content i {
        font-style: italic;
        font-size: 0.14rem;
        color: #999; }
      .section1 .bg_mask .left .content .part1 ul {
        padding-left: 0.2rem; }
        .section1 .bg_mask .left .content .part1 ul li {
          padding: 0.05rem 0;
          border-bottom: 1px solid #c0def7;
          list-style: disc; }
      .section1 .bg_mask .left .content .part2 .step {
        margin: 0.1rem 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 0.04rem;
        overflow: hidden;
        color: #fff; }
        .section1 .bg_mask .left .content .part2 .step h4 {
          margin-bottom: 0.1rem;
          font-weight: bold; }
        .section1 .bg_mask .left .content .part2 .step p {
          margin: 0; }
      .section1 .bg_mask .left .content .part2 .step_wrap {
        padding: 0.2rem;
        background: rgba(35, 35, 35, 0.5); }
      .section1 .bg_mask .left .content .part2 .step1 {
        background-image: url(../images/step1.jpg); }
      .section1 .bg_mask .left .content .part2 .step2 {
        background-image: url(../images/step2.jpg); }
      .section1 .bg_mask .left .content .part2 .step3 {
        background-image: url(../images/step3.jpg); }
      .section1 .bg_mask .left .content .part2 .step4 {
        background-image: url(../images/step4.jpg); }
      .section1 .bg_mask .left .content .part2 .step5 {
        background-image: url(../images/step5.jpg); }
      .section1 .bg_mask .left .content .part3 table {
        width: 100%;
        font-size: 0.14rem;
        text-align: center; }
        .section1 .bg_mask .left .content .part3 table thead {
          background: #1563A3;
          color: #fff; }
          .section1 .bg_mask .left .content .part3 table thead tr th {
            padding: 0.1rem 0;
            font-weight: bold;
            vertical-align: middle; }
        .section1 .bg_mask .left .content .part3 table tbody tr td {
          padding: 0.1rem 0;
          vertical-align: middle; }
          .section1 .bg_mask .left .content .part3 table tbody tr td img {
            width: auto;
            height: auto; }
        .section1 .bg_mask .left .content .part3 table tbody tr:nth-child(even) {
          background: #f2f8fd; }
      .section1 .bg_mask .left .content .part3 ul li {
        padding: 0.2rem 0;
        border-top: 1px solid #ddd; }
        .section1 .bg_mask .left .content .part3 ul li img {
          width: auto;
          height: auto; }
        .section1 .bg_mask .left .content .part3 ul li h4 {
          margin-bottom: 0.1rem;
          font-weight: bold;
          font-size: 0.2rem; }
        .section1 .bg_mask .left .content .part3 ul li b {
          display: block;
          font-weight: bold;
          font-size: 0.14rem; }
        .section1 .bg_mask .left .content .part3 ul li p {
          margin: 0 0 0.1rem;
          font-size: 0.14rem; }
  .section1 .bg_mask .right {
    background: #fff;
    border-radius: 0.04rem; }

@media only screen and (max-width: 767px) {
  .section1 .left {
    margin-bottom: 0.2rem; }
    .section1 .left .part {
      padding-bottom: 0.1rem; }
    .section1 .left .part3 table {
      display: none; }
  .section1 .right .form {
    padding: 0 0.1rem; }
    .section1 .right .form h2 {
      padding: 0.2rem 0 0;
      margin: 0;
      font-size: 0.16rem; }
    .section1 .right .form p {
      padding: 0.1rem 0;
      text-align: center; } }
@media only screen and (min-width: 768px) {
  .section1 .left {
    float: left;
    width: 60%; }
    .section1 .left .part {
      padding-bottom: 0.2rem; }
    .section1 .left .part3 ul {
      display: none; }
  .section1 .right {
    float: right;
    width: 38%; }
    .section1 .right .form {
      padding: 0.1rem 0.2rem; }
      .section1 .right .form h2 {
        padding: 0.2rem 0 0.1rem;
        margin: 0;
        font-size: 0.20rem; }
      .section1 .right .form p {
        padding: 0 0 0.2rem;
        text-align: center;
        font-size: 0.14rem; } }
.footer {
  text-align: center; }
  .footer .bg_wrap {
    padding: 0.2rem 0; }
  .footer a {
    color: #1563A3; }
  .footer p {
    margin-top: 0.1rem;
    color: #333; }

/*marketo form style initialize*/
.mktoForm {
  width: auto !important; }

.mktoFormRow .mktoOffset {
  display: none !important; }

.mktoFormRow .mktoFieldDescriptor {
  float: none !important;
  margin: 0 !important; }

.mktoFormRow .mktoFieldWrap {
  width: 100%; }

.mktoFormRow .mktoLabel {
  float: none !important;
  display: none;
  width: auto !important;
  padding: 0 !important;
  font-weight: normal !important; }

.mktoFormRow .mktoLabel .mktoAsterix {
  padding: 0 !important; }

.mktoFormRow .mktoField {
  box-sizing: border-box !important;
  float: none !important;
  display: block !important;
  width: 100% !important;
  padding: 0.07rem 0.05rem !important;
  margin: 0.08rem 0 !important;
  border-radius: 0.04rem;
  border: 1px solid #ccc; }

.mktoFormRow input.mktoField {
  padding-left: 0.09rem !important; }

.mktoButtonRow {
  display: block !important; }

.mktoButtonRow .mktoButtonWrap {
  display: block !important; }

.mktoButtonRow button {
  display: block;
  width: 2.1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0.25rem auto 0.25rem !important;
  padding: 0 !important;
  border-radius: 0.04rem;
  background: #1563A3;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 0.16rem; }

/*# sourceMappingURL=style.css.map */
