//*********************************************************************//
//                              configs
//*********************************************************************//

// value settings
$brand1: #1563A3;
$brand2: #C02633;
$link: #1563A3;
$mask: rgba(21,99,163,0.5);
$mask2: rgba(35,35,35,0.5);
$white: #fff;
$black: #333;
$gray_dark: #ddd;
$gray_light: #f5f5f5;
$radius: 0.04rem;
$shadow: 0 0.03rem 0.12rem rgba(0, 0, 0, 0.15);
$easing: cubic-bezier(0.15, 0.95, 0.41, 0.95);

// responsive break points
$phone-max: 767px;
$pad-min: 768px;
$pad-max: 1279px;
$pc-min: 1280px;

// functions
@mixin box-sizing ($value) {
	-webkit-box-sizing: $value;
	box-sizing: $value;}
@mixin transform ($value) {
	-webkit-transform: $value;
	transform: $value;}
@mixin transform-origin ($value) {
	-webkit-transform-origin: $value;
	transform-origin: $value;}
@mixin transition ($value) {
	-webkit-transition: $value;
	transition: $value;}
@mixin transition-transform ($value1,$value2) {
	-webkit-transition: -webkit-transform $value1 $value2;
	transition: transform $value1 $value2;}
@mixin animation ($value) {
	-webkit-animation: $value;
	animation: $value;}
@mixin display-flex () {
	display: -webkit-flex;
	display: flex;}
@mixin flex-flow ($value) {
	-webkit-flex-flow: $value;
	flex-flow: $value;}
@mixin order ($value) {
	-webkit-order: $value;
	order: $value;}
@mixin flex ($value) {
	-webkit-flex: $value;
	flex: $value;}
@mixin justify-content ($value) {
	-webkit-justify-content: $value;
	justify-content: $value;}
@mixin align-items ($value) {
	-webkit-align-items: $value;
	align-items: $value;}
@mixin align-content ($value) {
	-webkit-align-content: $value;
	align-content: $value;}
@mixin aColor ($value) {
	color: $value;
	&:visited {
		color: $value;}
	&:hover {
		color: lighten($value,15%);}
	&:active {
		color: $value;}
}
@mixin aBgColor ($value) {
	background-color: $value;
	&:visited {
		background-color: $value;}
	&:hover {
		background-color: lighten($value,15%);}
	&:active {
		background-color: $value;}
}




//*********************************************************************//
//                               global
//*********************************************************************//

* { @include box-sizing (content-box);}
html, body{
	height:100%;}
html {
	line-height: 1;
	font-size: 100px;
}
body {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
	line-height: 1.6;
	font-size: 0.16rem;
	color: $black;
	background: $white;}
a {
	color: $link;
}
input, textarea, button {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;}
::selection {
	background: $brand1;
	color: $white;}
::-moz-selection {
	background: $brand1;
	color: $white;}




//*********************************************************************//
//                             components
//*********************************************************************//

// layout
// phone
@media only screen and (max-width: $phone-max){
	.bg_wrap {
		padding: 0.4rem 0.2rem;
	}
	h2 {
		margin-bottom: 0.2rem;
		text-align: center;
		font-size: 0.24rem;
		font-weight: bold;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.bg_wrap {
		width: 11.8rem;
		margin: 0 auto;
		padding: 0.6rem 0;
	}
	h2 {
		margin-bottom: 0.4rem;
		text-align: center;
		font-size: 0.34rem;
		font-weight: bold;
	}
}




//*********************************************************************//
//                               header
//*********************************************************************//

.header {
	background: $brand1;
	.bg_wrap {
		@include display-flex ();
		@include flex-flow (row wrap);
		@include justify-content (space-between);
		@include align-items (center);
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		h1 {
			height: 100%;
			position: relative;
			left: 0;
			top: 30%;
		}
		img {
			display: block;
			height: 120%;
		}
		p {
			a {
				margin-left: 0.2rem;
				color: $white;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.header {
		height: 0.4rem;
		p a {
			font-size: 0.12rem;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.header {
		height: 0.6rem;
		p a {
			font-size: 0.2rem;
		}
	}
}




//*********************************************************************//
//                                hero
//*********************************************************************//

.hero {
	background-color: $brand1;
	background-repeat: no-repeat;
	.bg_mask {
		background: $mask2;
		.bg_wrap {
			.instruction {
				color: $white;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.hero {
		background-position: center top;
		background-size: 300%;
		.bg_wrap {
			.instruction {
				padding-bottom: 0.2rem;
				h1 {
					margin: 0.3rem 0;
					text-align: center;
					font-size: 0.24rem;
					small {
						font-size: 0.2rem;
					}
				}
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.hero {
		background-position: center center;
		background-size: cover;
		.bg_wrap {
			@include display-flex ();
			@include justify-content (space-around);
			@include flex-flow (row wrap);
			@include align-items (center);
			.instruction {
				@include flex (0 1 70%);
				h1 {
					margin: 1rem 0;
					text-align: center;
					font-size: 0.6rem
				}
			}
		}
	}
}




//*********************************************************************//
//                               section1
//*********************************************************************//

.section1 {
	background-color: $gray_light;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: $black;
	.bg_mask {
		// background: $mask;
		.left {
			background: $white;
			border-radius: $radius;
			.content {
				padding: 0.2rem;
				img {
					width: 100%;
				}
				h3 {
					line-height: 1.2;
					margin-top: 0.2rem;
					padding-left: 0.2rem;
					border-left: 0.03rem solid $brand1;
					font-weight: bold;
					font-size: 0.2rem;
				}
				p {
					margin: 0.2rem 0;
					b {
						font-weight: bold;
					}
				}
				i {
					font-style: italic;
					font-size: 0.14rem;
					color: #999;
				}
				.part1 {
					ul {
						padding-left: 0.2rem;
						li {
							padding: 0.05rem 0;
							border-bottom: 1px solid lighten($brand1,50%);
							list-style: disc;
						}
					}
				}
				.part2 {
					.step {
						margin: 0.1rem 0;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;
						border-radius: $radius;
						overflow: hidden;
						color: $white;
						h4 {
							margin-bottom: 0.1rem;
							font-weight: bold;
						}
						p {
							margin: 0;
						}
					}
					.step_wrap {
						padding: 0.2rem;
						background: $mask2;
					}
					.step1 {
						background-image: url(../images/step1.jpg);
					}
					.step2 {
						background-image: url(../images/step2.jpg);
					}
					.step3 {
						background-image: url(../images/step3.jpg);
					}
					.step4 {
						background-image: url(../images/step4.jpg);
					}
					.step5 {
						background-image: url(../images/step5.jpg);
					}
				}
				.part3 {
					table {
						width: 100%;
						font-size: 0.14rem;
						text-align: center;
						thead {
							background: $brand1;
							color: $white;
							tr {
								th {
									padding: 0.1rem 0;
									font-weight: bold;
									vertical-align: middle;
								}
							}
						}
						tbody {
							tr {
								td {
									padding: 0.1rem 0;
									vertical-align: middle;
									img {
										width: auto;
										height: auto;
									}
								}
							}
							tr:nth-child(even) {
								background: lighten($brand1,61%);
							}
						}
					}
					ul {
						li {
							padding: 0.2rem 0;
							border-top: 1px solid $gray_dark;
							img {
								width: auto;
								height: auto;
							}
							h4 {
								margin-bottom: 0.1rem;
								font-weight: bold;
								font-size: 0.2rem;
							}
							b {
								display: block;
								font-weight: bold;
								font-size: 0.14rem;
							}
							p {
								margin: 0 0 0.1rem;
								font-size: 0.14rem;
							}
						}
					}
				}
			}
		}
		.right {
			background: $white;
			border-radius: $radius;
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.section1 {
		.left {
			margin-bottom: 0.2rem;
			.part {
				padding-bottom: 0.1rem;
			}
			.part3 table {
				display: none;
			}
		}
		.right {
			.form {
				padding: 0 0.1rem;
				h2 {
					padding: 0.2rem 0 0;
					margin: 0;
					font-size: 0.16rem;
				}
				p {
					padding: 0.1rem 0;
					text-align: center;
				}
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.section1 {
		.left {
			float: left;
			width: 60%;
			.part {
				padding-bottom: 0.2rem;
			}
			.part3 ul {
				display: none;
			}
		}
		.right {
			float: right;
			width: 38%;
			.form {
				padding: 0.1rem 0.2rem;
				h2 {
					padding: 0.2rem 0 0.1rem;
					margin: 0;
					font-size: 0.20rem;
				}
				p {
					padding: 0 0 0.2rem;
					text-align: center;
					font-size: 0.14rem;
				}
			}
		}
	}
}




//*********************************************************************//
//                               footer
//*********************************************************************//

.footer {
	text-align: center;
	.bg_wrap {
		padding: 0.2rem 0;
	}
	a {
		color: $link;
	}
	p {
		margin-top: 0.1rem;
		color: $black;
	}
}




//*********************************************************************//
//                               widgets
//*********************************************************************//


/*marketo form style initialize*/
.mktoForm { width: auto!important; }
.mktoFormRow .mktoOffset { display: none!important; }
.mktoFormRow .mktoFieldDescriptor { float: none!important; margin: 0!important; }
.mktoFormRow .mktoFieldWrap { width: 100%; }
.mktoFormRow .mktoLabel { float: none!important; display: none; width: auto!important; padding: 0!important; font-weight: normal!important; }
.mktoFormRow .mktoLabel .mktoAsterix { padding: 0!important; }
.mktoFormRow .mktoField { box-sizing: border-box!important; float: none!important; display: block!important; width: 100%!important; padding: 0.07rem 0.05rem!important; margin: 0.08rem 0!important; border-radius: 0.04rem; border: 1px solid #ccc; }
.mktoFormRow input.mktoField { padding-left: 0.09rem!important; }
.mktoButtonRow { display: block!important; }
.mktoButtonRow .mktoButtonWrap { display: block!important; }
.mktoButtonRow button { display: block; width: 2.1rem; height: 0.4rem; line-height: 0.4rem; margin: 0.25rem auto 0.25rem!important; padding: 0!important; border-radius: 0.04rem; background: $brand1; border: none; color: $white; text-align: center; font-size: 0.16rem; }
