//*********************************************************************//
//                              configs
//*********************************************************************//

// value settings
$brand1: #193F6B;
$brand2: #FC8222;
$link: #FC8222;
$mask: rgba(25,63,107,0.5);
$white: #fff;
$black: #333;
$gray_dark: #ccc;
$gray_light: #fafafa;
$radius: 0.04rem;
$shadow: 0 0.03rem 0.12rem rgba(0, 0, 0, 0.15);
$easing: cubic-bezier(0.15, 0.95, 0.41, 0.95);

// responsive break points
$phone-max: 767px;
$pad-min: 768px;
$pad-max: 1279px;
$pc-min: 1280px;

// functions
@mixin box-sizing ($value) {
	-webkit-box-sizing: $value;
	box-sizing: $value;}
@mixin transform ($value) {
	-webkit-transform: $value;
	transform: $value;}
@mixin transform-origin ($value) {
	-webkit-transform-origin: $value;
	transform-origin: $value;}
@mixin transition ($value) {
	-webkit-transition: $value;
	transition: $value;}
@mixin transition-transform ($value1,$value2) {
	-webkit-transition: -webkit-transform $value1 $value2;
	transition: transform $value1 $value2;}
@mixin prefix-transition ($value) {
	-webkit-transition: -webkit-$value;
	transition: $value;}
@mixin animation ($value) {
	-webkit-animation: $value;
	animation: $value;}
@mixin display-flex () {
	display: -webkit-flex;
	display: flex;}
@mixin flex-flow ($value) {
	-webkit-flex-flow: $value;
	flex-flow: $value;}
@mixin order ($value) {
	-webkit-order: $value;
	order: $value;}
@mixin flex ($value) {
	-webkit-flex: $value;
	flex: $value;}
@mixin justify-content ($value) {
	-webkit-justify-content: $value;
	justify-content: $value;}
@mixin align-items ($value) {
	-webkit-align-items: $value;
	align-items: $value;}
@mixin align-content ($value) {
	-webkit-align-content: $value;
	align-content: $value;}
@mixin aColor ($value) {
	color: $value;
	&:visited {
		color: $value;}
	&:hover {
		color: lighten($value,15%);}
	&:active {
		color: $value;}
}
@mixin aBgColor ($value) {
	background-color: $value;
	&:visited {
		background-color: $value;}
	&:hover {
		background-color: lighten($value,15%);}
	&:active {
		background-color: $value;}
}




//*********************************************************************//
//                               global
//*********************************************************************//

* { @include box-sizing (content-box);}
html, body{
	height:100%;}
html {
	line-height: 1;
	font-size: 100px;
}
body {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
	line-height: 1.6;
	font-size: 0.16rem;
	color: $black;
	background: $white;}
a {
	color: $link;
}
input, textarea, button {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;}
::selection {
	background: $brand1;
	color: $white;}
::-moz-selection {
	background: $brand1;
	color: $white;}




//*********************************************************************//
//                             components
//*********************************************************************//

// layout
// phone
@media only screen and (max-width: $phone-max){
	.bg_wrap {
		padding: 0.4rem 0.2rem;
	}
	h2 {
		margin-bottom: 0.2rem;
		text-align: center;
		font-size: 0.24rem;
		font-weight: bold;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.bg_wrap {
		width: 11.8rem;
		margin: 0 auto;
		padding: 0.6rem 0;
	}
	h2 {
		margin-bottom: 0.4rem;
		text-align: center;
		font-size: 0.34rem;
		font-weight: bold;
	}
}




//*********************************************************************//
//                               header
//*********************************************************************//

.header {
	background: $white;
	.bg_wrap {
		@include display-flex ();
		@include flex-flow (row wrap);
		@include justify-content (space-between);
		@include align-items (center);
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		img {
			display: block;
			height: 100%;
		}
		p {
			a {
				margin-left: 0.2rem;
				color: $brand1;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.header {
		height: 0.5rem;
		h1 {
			height: 40%;
		}
		p a {
			font-size: 0.12rem;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.header {
		height: 0.8rem;
		h1 {
			height: 50%;
		}
		p a {
			font-size: 0.2rem;
		}
	}
}




//*********************************************************************//
//                                hero
//*********************************************************************//

.hero {
	background-color: $brand1;
	background-repeat: no-repeat;
	.bg_mask {
		background: $mask;
		.bg_wrap {
			.instruction {
				color: $white;
			}
			.form {
				overflow: hidden;
				background: $white;
				border-radius: $radius;
				position: relative;
				h2 {
					text-align: center;
				}
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.hero {
		background-position: center top;
		background-size: 300%;
		.bg_wrap {
			.instruction {
				padding-bottom: 0.2rem;
				h1 {
					font-size: 0.2rem;
				}
				p {
					font-size: 0.12rem;
				}
			}
			.form {
				padding: 0 0.1rem;
				h2 {
					margin: 0.2rem 0;
					font-size: 0.16rem;
				}
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.hero {
		background-position: center center;
		background-size: cover;
		.bg_wrap {
			@include display-flex ();
			@include justify-content (space-around);
			@include flex-flow (row wrap);
			@include align-items (center);
			.instruction {
				@include flex (0 1 45%);
				h1 {
					margin-bottom: 0.2rem;
					font-size: 0.4rem
				}
				p {
					font-size: 0.16rem;
				}
			}
			.form {
				@include flex (0 1 45%);
				max-width: 3.8rem;
				padding: 0.1rem 0.2rem;
				h2 {
					margin: 0.2rem 0;
					font-size: 0.24rem;
				}
			}
		}
	}
}




//*********************************************************************//
//                               section
//*********************************************************************//

.section {
	background-color: $brand1;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: $white;
	.bg_mask {
		background: $mask;
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.section {
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.section {
	}
}




//*********************************************************************//
//                               footer
//*********************************************************************//

.footer {
	text-align: center;
	.bg_wrap {
		padding: 0.2rem 0;
	}
	a {
		color: $link;
	}
	p {
		margin-top: 0.1rem;
		color: $black;
	}
}




//*********************************************************************//
//                               widgets
//*********************************************************************//


/*marketo form style initialize*/
.mktoForm { width: auto!important; }
.mktoFormRow .mktoOffset { display: none!important; }
.mktoFormRow .mktoFieldDescriptor { float: none!important; margin: 0!important; }
.mktoFormRow .mktoFieldWrap { width: 100%; }
.mktoFormRow .mktoLabel { float: none!important; display: none; width: auto!important; padding: 0!important; font-weight: normal!important; }
.mktoFormRow .mktoLabel .mktoAsterix { padding: 0!important; }
.mktoFormRow .mktoField { box-sizing: border-box!important; float: none!important; display: block!important; width: 100%!important; padding: 0.07rem 0.05rem!important; margin: 0.08rem 0!important; border-radius: 0.04rem; border: 1px solid #ccc; }
.mktoFormRow input.mktoField { padding-left: 0.09rem!important; }
.mktoButtonRow { display: block!important; }
.mktoButtonRow .mktoButtonWrap { display: block!important; }
.mktoButtonRow button { display: block; width: 2.1rem; height: 0.4rem; line-height: 0.4rem; margin: 0.25rem auto 0.25rem!important; padding: 0!important; border-radius: 0.04rem; background: $brand1; border: none; color: $white; text-align: center; font-size: 0.16rem; }
